@model Categoria

<form method="post">
    <input asp-for="Id" hidden />

    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Excluir Categoria</h2>
            <hr />
        </div>
        <div class="mb-3 row">
            <label asp-for="Nome" class="form-label"></label>
            <input asp-for="Nome" disabled class="form-control" />
        </div>
        <div class="mb-3 row">
            <label asp-for="OrdemExibicao" class="form-label"></label>
            <input asp-for="OrdemExibicao" disabled class="form-control" />
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-danger form-control">
                    <i class="bi bi-check-circle"></i> Excluir
                </button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Categoria" asp-action="Index" class="btn btn-outline-secondary border form-control">
                    <i class="bi bi-arrow-left-circle"></i> Voltar
                </a>
            </div>
        </div>
    </div>
</form>
