@model List<Categoria>

<h1>Lista de Categorias</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Categoria</th>
            <th>Ordem de Exibição</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var categoria in Model.OrderBy(c => c.OrdemExibicao))
        {
            <tr>
                <td>@categoria.Nome</td>
                <td>@categoria.OrdemExibicao</td>
            </tr>
        }
    </tbody>
</table>